html
    head
        title My first pug
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        ul#topmenu
            li  
                a(href="/") Home
            li  
                a(href="/contactus") Contact Us
        hr
        block Content
        hr
        block footer